.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.ficha {
    border: 3px solid black;
    margin: 3%;
    border-radius: 12px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
}

p {
    color: #000000;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

img {
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 12px;
}